.App-link {
    color: #61dafb;
}

#hero-image {
    background-image: url("./assets/mixer.jpg");
    background-color: #83ABCE;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

