body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Anton', sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #83ABCE;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    color: #333333;
    text-shadow: 1px 1px 3px #4e4e4e;
}

ol {
    text-shadow: none;
}

.jumbotron {
    background-color: #d5e6f7;
    color: '#9A9592'
}

.jumbotronHomeP {
    color: #9A9592;
}

.cardHome {
    background-color: #d5e6f7;
}

.cardDash {
    background-color: #d5e6f7;
}

.cardText {
    color: #9A9592;
}

.navBar {
    background-color: #d5e6f7;
}

#username {
    background-color: #d5e6f7;
}

#password {
    background-color: #d5e6f7;
}

#fName {
    background-color: #d5e6f7;
}

#lName {
    background-color: #d5e6f7;
}

#email {
    background-color: #d5e6f7;
}

#albumName {
    background-color: #d5e6f7;
}

#artist {
    background-color: #d5e6f7;
}

#numberOfTracks {
    background-color: #d5e6f7;
}

#title {
    background-color: #d5e6f7;
}

#audio {
    font-weight: bold;
}