body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Anton', sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #83ABCE;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    color: #333;
    text-shadow: .36px .36px 1px #e4e4e4;
}

.jumbotron {
    background-color: #d5e6f7;
    color: '#9A9592'
}

.jumbotronHomeP {
    color: #9A9592;
}

.card {
    background-color: #d5e6f7;
}

.cardText {
    color: #9A9592;
}

.cardTextDash {
    text-shadow: .4px .4px
}


/* Color Theme Swatches in Hex */


/* Color Theme Swatches in Hex */

.My-Color-Theme-1-hex {
    color: #B33117;
}

.My-Color-Theme-2-hex {
    color: #FF7154;
}

.My-Color-Theme-3-hex {
    color: #FF5C3B;
}

.My-Color-Theme-4-hex {
    color: #05B36E;
}

.My-Color-Theme-5-hex {
    color: #3BFFB2;
}
